* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

#wrapper {
  margin: 3rem;
}

header h1 {
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  width: 339px;
  height: 64px;
  text-indent: -99999px;
}

.navigation {
  display: flex;
}

.navigation h4 {
  padding-right: 1.5rem;
}
